body {
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: rgb(78, 84, 90);
    color: white;
    padding: 15px;
    margin-left: 20px;
}

.sidebar_head {
    background-color: #2e7d32;
    /* สีเขียว */
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sidebar_bottom {
    background-color: #ffffff;
    /* สีพื้นธรรมดา */
    flex: 1;
    padding: 20px;
}

.headbar {
    background-color: #91c8e4;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
}

.logo h1 {
    font-size: 24px;
    margin: 10px 0 0;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-box a {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    color: #003366;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}